In [5]:
import numpy as np
import pandas as pd
def water_level_correct(old):
    array=old
    count=0
    for i in array:
        now=count
        if np.isnan(i)==False:
            count +=1
            continue
        elif np.isnan(i):
            n=0
            
            for z in array[count:]:
                if np.isnan(z)==True:
                    n += 1
                else:
                    print(count,n)
                    end_index=count+n+1
                    print(end_index, len(array))
                    if (end_index) >= len(array):  
                        m=0
                        y1=array[count-1]
                    else:
                        y2=array[count+(n+1)]
                        y1=array[count-1]
                        x2=n+2
                        m=(y2-y1)/x2
                    x=0
                    for f in array[count:(count+n)]:
                        print(y1)
                        x+=1
                        y=m*x+y1
                        array[count+(x-1)]=y
    new=array
    return new

In [14]:
z=np.linspace(0,5,10)
old=z.copy()
z[4:7]=np.nan
z[8:9]=np.nan

a=pd.Series(z)
new=a.interpolate()
new

0    0.000000
1    0.555556
2    1.111111
3    1.666667
4    2.222222
5    2.777778
6    3.333333
7    3.888889
8    4.444444
9    5.000000
dtype: float64

In [9]:
old

array([0.        , 0.55555556, 1.11111111, 1.66666667, 2.22222222,
       2.77777778, 3.33333333, 3.88888889, 4.44444444, 5.        ])

In [13]:
z.shape

(10,)

4 3
8 10
1.6666666666666667
1.6666666666666667
1.6666666666666667
4 4
9 10
1.6666666666666667
1.6666666666666667
1.6666666666666667
1.6666666666666667
7 0
8 10
7 1
9 10
3.333333333333333

In [107]:
corr=water_level_correct(corr)

In [112]:
corr

array([0.        , 0.55555556, 1.11111111, 1.66666667, 2.22222222,
       2.77777778, 3.33333333, 3.88888889,        nan, 5.        ])