In [52]:
import sqlite3 as sql
import pandas as pd

con = sql.connect(r"DATABASE\fgen_db.db")
cur = con.cursor()

rg0 = pd.read_csv(r'Edited_Data\Tagoloan\rg0.csv')
location = 'Tagoloan'

In [53]:
rg0.head()

,Unnamed: 0.1,Unnamed: 0,Station Name,Sensor Type,Sensor Value,Sensor ID,Units,Timestamp,Sensor Label
0,0,0,FGEN Tagoloan Gauge Station,Rain,207.2,46491,mm,1/27/2020 12:47:00 AM,Rain Gauge
1,1,1,FGEN Tagoloan Gauge Station,Rain,207.2,46491,mm,1/27/2020 1:47:00 AM,Rain Gauge
2,2,2,FGEN Tagoloan Gauge Station,Rain,207.2,46491,mm,1/27/2020 2:47:00 AM,Rain Gauge
3,3,3,FGEN Tagoloan Gauge Station,Rain,207.2,46491,mm,1/27/2020 3:47:00 AM,Rain Gauge
4,4,4,FGEN Tagoloan Gauge Station,Rain,207.2,46491,mm,1/27/2020 4:47:00 AM,Rain Gauge

In [54]:
db = rg0[['Timestamp','Sensor Value']]

In [55]:
for i in range(db.shape[0]):
    timestamp, raw_val = db.iloc[i,:]
    cur.execute(f"""INSERT INTO precipitation
                    VALUES ('{timestamp}',{raw_val},NULL,'{location}');""")
con.commit()

In [20]:
rg0.shape

(15174, 9)

In [56]:
cur.close()
con.close()

In [40]:
%load_ext sql
%sql sqlite:///DATABASE\fgen_db.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%sql

SELECT * FROM precipitation
WHERE 'Raw Value' > 207.2;

In [67]:
%%sql

SELECT sql FROM sqlite_schema
WHERE type='precipitation';

 * sqlite:///DATABASE\fgen_db.db
Done.

[]

: