In [1]:
import numpy as np
import pandas as pd
import re

In [4]:
tag=pd.read_csv('Edited_Data/tag.csv')
rg1=pd.read_csv('Edited_Data/rg2.csv')
rg0=pd.read_csv('Edited_Data/rg1.csv')

In [5]:
tag_f=tag[['Timestamp','Sensor Value']]
rg0_f=rg0[['Timestamp','Sensor Value']]
rg1_f=rg1[['Timestamp','Sensor Value']]

In [6]:
tag_f.rename(columns={'Sensor Value':'Water_level_m'})
rg0_f.rename(columns={'Sensor Value':'RG_0_mm'})
rg1_f.rename(columns={'Sensor Value':'RG_1_mm'})

                  Timestamp  RG_1_mm
0     10/1/2020 12:59:59 AM    0.112
1      10/1/2020 1:59:59 AM    0.112
2      10/1/2020 2:59:59 AM    0.112
3      10/1/2020 3:59:59 AM    0.112
4      10/1/2020 4:59:59 AM    0.112
...                     ...      ...
6742   10/1/2020 9:59:59 AM    0.112
6743  10/1/2020 10:59:59 AM    0.112
6744  10/1/2020 11:59:59 AM    0.112
6745  10/1/2020 12:59:59 PM    0.112
6746   10/1/2020 1:59:59 PM    0.112

[6747 rows x 2 columns]

In [127]:
def timestamp_conv(df):
    headers=list(df.columns.values)
    array=df.to_numpy()
    timestamps=array[:,0]
    values=array[:,1]
    
    timestamp_edited =[]
    for i in timestamps:
        date=i.split()
        day=date[0]
        time=date[1]
        hms=time.split(':')
        
        if len(date)==3:
            morn_aft=date[2]
            if int(hms[0])==12 and morn_aft=='AM':
                hour=0
            elif int(hms[0])==12 and morn_aft=='PM':
                hour=12
            elif morn_aft=='PM':
                hour=int(hms[0])+12
            elif morn_aft=='AM':
                hour=int(hms[0])

        if len(date)==2:
            hour=int(hms[0])

        new_timestamp=f"{day} {hour}"
        timestamp_edited.append(new_timestamp)
    
    timestamp_edited_arr=np.array(timestamp_edited)
    
    l1=list(timestamp_edited_arr)
    l2=list(values)
    
    new_dataframe=pd.DataFrame({'Timestamp':l1, 'Values':l2})

    
    
    return new_dataframe

tag_n=timestamp_conv(tag_f)
rg0_n=timestamp_conv(rg0_f)
rg1_n=timestamp_conv(rg1_f)

In [125]:
#tag_n.set_index('Timestamp')
#rg0_n.set_index('Timestamp')
#rg1_n.set_index('Timestamp')

              Values
Timestamp
10/1/2020 0    0.112
10/1/2020 1    0.112
10/1/2020 2    0.112
10/1/2020 3    0.112
10/1/2020 4    0.112
...              ...
10/1/2020 9    0.112
10/1/2020 10   0.112
10/1/2020 11   0.112
10/1/2020 12   0.112
10/1/2020 13   0.112

[6747 rows x 1 columns]

In [129]:
concat1=pd.concat([])

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [107]:
new_df.to_csv('test.csv')

In [112]:
rg0_n

        Timestamp  Values
0     3/25/2020 0   319.6
1     3/25/2020 1   319.6
2     3/25/2020 2   319.6
3     3/25/2020 3   319.6
4     3/25/2020 4   319.6
...           ...     ...
6842  1/1/2021 12   658.2
6843  1/1/2021 13   658.2
6844  1/1/2021 14   658.2
6845  1/1/2021 15   658.2
6846  1/1/2021 16   658.2

[6847 rows x 2 columns]