In [2]:
import numpy as np

x = np.arange(1,15,1)

In [3]:
x

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [9]:
import pandas as pd
from pathlib import Path
tag_path = Path("Edited_Data/Cagayan/tag.csv")
tag = pd.read_csv(tag_path)[['Timestamp', 'Sensor Value']]

In [16]:
from IPython.display import display

tag['D'] = np.arange(0,tag.shape[0],1)

tag_sorted = tag[['D'] + tag.columns.values[:-1].tolist()]

display(tag,tag_sorted)

                   Timestamp  Sensor Value      D
0      12/2/2019 12:29:20 AM      0.910916      0
1       12/2/2019 1:29:23 AM      0.910916      1
2       12/2/2019 2:30:19 AM      0.886947      2
3       12/2/2019 3:29:57 AM      0.910916      3
4       12/2/2019 4:29:26 AM      0.934885      4
...                      ...           ...    ...
14937   1/1/2022 10:28:42 AM      0.982823  14937
14938   1/1/2022 11:31:29 AM      0.982823  14938
14939   1/1/2022 12:29:57 PM      0.982823  14939
14940    1/1/2022 1:28:35 PM      0.982823  14940
14941    1/1/2022 2:34:39 PM      0.982823  14941

[14942 rows x 3 columns]

           D              Timestamp  Sensor Value
0          0  12/2/2019 12:29:20 AM      0.910916
1          1   12/2/2019 1:29:23 AM      0.910916
2          2   12/2/2019 2:30:19 AM      0.886947
3          3   12/2/2019 3:29:57 AM      0.910916
4          4   12/2/2019 4:29:26 AM      0.934885
...      ...                    ...           ...
14937  14937   1/1/2022 10:28:42 AM      0.982823
14938  14938   1/1/2022 11:31:29 AM      0.982823
14939  14939   1/1/2022 12:29:57 PM      0.982823
14940  14940    1/1/2022 1:28:35 PM      0.982823
14941  14941    1/1/2022 2:34:39 PM      0.982823

[14942 rows x 3 columns]