In [2]:
import numpy as np

x = np.arange(1,15,1)

In [3]:
x

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [26]:
import pandas as pd
from pathlib import Path
tag_path = Path("Edited_Data/Cagayan/tag.csv")
tag = pd.read_csv(tag_path)[['Timestamp', 'Sensor Value']]

In [27]:
from IPython.display import display

tag['D'] = np.arange(0,tag.shape[0],1)

tag_sorted = tag[['D'] + tag.columns.values[:-1].tolist()]

display(tag,tag_sorted)

                   Timestamp  Sensor Value      D
0      12/2/2019 12:29:20 AM      0.910916      0
1       12/2/2019 1:29:23 AM      0.910916      1
2       12/2/2019 2:30:19 AM      0.886947      2
3       12/2/2019 3:29:57 AM      0.910916      3
4       12/2/2019 4:29:26 AM      0.934885      4
...                      ...           ...    ...
14937   1/1/2022 10:28:42 AM      0.982823  14937
14938   1/1/2022 11:31:29 AM      0.982823  14938
14939   1/1/2022 12:29:57 PM      0.982823  14939
14940    1/1/2022 1:28:35 PM      0.982823  14940
14941    1/1/2022 2:34:39 PM      0.982823  14941

[14942 rows x 3 columns]

           D              Timestamp  Sensor Value
0          0  12/2/2019 12:29:20 AM      0.910916
1          1   12/2/2019 1:29:23 AM      0.910916
2          2   12/2/2019 2:30:19 AM      0.886947
3          3   12/2/2019 3:29:57 AM      0.910916
4          4   12/2/2019 4:29:26 AM      0.934885
...      ...                    ...           ...
14937  14937   1/1/2022 10:28:42 AM      0.982823
14938  14938   1/1/2022 11:31:29 AM      0.982823
14939  14939   1/1/2022 12:29:57 PM      0.982823
14940  14940    1/1/2022 1:28:35 PM      0.982823
14941  14941    1/1/2022 2:34:39 PM      0.982823

[14942 rows x 3 columns]

In [22]:
import datetime
from dateutil.relativedelta import relativedelta
import pandas as pd

start = pd.to_datetime("2020/09")
end = start + relativedelta(months = 1)

print(start, end)

2020-09-01 00:00:00 2020-10-01 00:00:00

In [32]:
label = np.arange(0,len(tag['Timestamp']),1) % 200 == 0
tag['Timestamp'].loc[label]

0         12/2/2019 12:29:20 AM
200       12/10/2019 8:29:15 AM
400       12/18/2019 4:33:02 PM
600       12/27/2019 1:29:23 AM
800         1/4/2020 8:29:21 AM
                  ...
14000    11/20/2021 12:28:48 PM
14200     11/28/2021 7:28:44 PM
14400      12/7/2021 3:30:41 AM
14600     12/18/2021 2:28:44 AM
14800    12/26/2021 10:28:34 AM
Name: Timestamp, Length: 75, dtype: object

In [44]:
from scipy.signal import argrelextrema
table = tag['Sensor Value'].to_numpy()
max_index = argrelextrema(table, np.greater , order = 200)

import matplotlib.pyplot as plt
max_index

(array([   76,   451,  1050,  1425,  2342,  2755,  3658,  4457,  5055,
         5471,  5774,  6365,  7048,  7406,  7830,  8427,  8715,  9003,
         9416,  9985, 10348, 10744, 11973, 12474, 13373, 13648, 14009,
        14582], dtype=int64),)

In [45]:
tag.loc[max_index[0], 'Sensor Value']

76       1.102668
451      1.342358
1050     0.886947
1425     0.862978
2342     1.246482
2755     0.982823
3658     1.294420
4457     2.684622
5055     3.020188
5471     2.924312
5774     2.924312
6365     3.475599
7048     2.972250
7406     4.698018
7830     3.092095
8427     2.157304
8715     2.109366
9003     2.828436
9416     2.708591
9985     3.116064
10348    3.667351
10744    3.595444
11973    4.170700
12474    4.554204
13373    3.379723
13648    2.828436
14009    3.571475
14582    2.396994
Name: Sensor Value, dtype: float64

In [2]:
import tensorflow as tf
print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))

Num GPUs Available:  1

In [3]:
tf.debugging.set_log_device_placement(True)

# Create some tensors
a = tf.constant([[1.0, 2.0, 3.0], [4.0, 5.0, 6.0]])
b = tf.constant([[1.0, 2.0], [3.0, 4.0], [5.0, 6.0]])
c = tf.matmul(a, b)

print(c)

Executing op _EagerConst in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op _EagerConst in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op MatMul in device /job:localhost/replica:0/task:0/device:GPU:0
tf.Tensor(
[[22. 28.]
 [49. 64.]], shape=(2, 2), dtype=float32)

In [ ]:
import pandas as pd

x = pd.to_datetime()